
/* Block: btn (Reusable Button Component) */
.btn {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-base);
  font-weight: 600;
  border: none;
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.btn--primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn--primary:hover {
  background-color: var(--primary-hover);
}

.btn--primary:active,
.btn--danger:active {
  transform: translateY(3.5px);
}

/* Modifier: color btn */
.btn--danger{
  background-color: var(--danger-color);
}

.btn--danger:hover{
  background-color: var(--danger-hover);
}


/* Modifier: btn--disabled */
.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--disabled:hover {
  background-color: var(--primary-color);
  transform: none;
}